.presentacion {
    @include Displaygrid( repeat(2,50%), space-between);
    background-color: map-get($map: $color, $key: fondo);
    margin: 0rem;
    padding: 1rem 0rem 1rem 1rem;

    &__texto {
        @include Displayflex(column, center, flex-start, left) ;
    }

    h1{
        margin-bottom: 2rem;
        @include Text(map-get($map: $color, $key: destaque), 2rem, oblique, center) ;
        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }
    p {
        padding-right: 1rem;
        @include Text(map-get($map: $color, $key: paragrafo), 1rem, normal, left);
        @media screen and (max-width: 600px) {
            font-size: 0.5rem;
        }
    }
}

.card {
    margin: 1rem;
    padding: 0rem;

    @include Displayflex(column, center, center, center);

    h5{
        color:map-get($map: $color, $key: destaque);
    }
    p {
        color: map-get($map: $color, $key: paragrafo);
    }
    a {
        border-color: map-get($map: $color, $key: destaque);
        border-radius: 1rem;
        border-style: solid;
        padding: 0.3rem;
        text-decoration: none;
        color: map-get($map: $color, $key: destaque);
    }
}

.habitaciones {
    padding: 1rem;

    h1{
        margin: 1rem;
        @include Text(map-get($map: $color, $key: destaque), 1.5rem, oblique, center) ;
        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }
    p {
        padding-right: 1rem;
        @include Text(map-get($map: $color, $key: paragrafo), 1rem, normal, center);
        @media screen and (max-width: 600px) {
            font-size: 0.5rem;
        }
    }

    &__opciones {
        background-color: map-get($map: $color, $key: fondo);

        h1{
            padding: 1rem;
            @include Text(map-get($map: $color, $key: destaque), 1.5rem, oblique, center) ;
            @media screen and (max-width: 600px) {
                font-size: 1rem;
            }
        }
        p {
            padding-right: 1rem;
            @include Text(map-get($map: $color, $key: paragrafo), 1rem, normal, center);
            @media screen and (max-width: 600px) {
                font-size: 0.5rem;
            }
        }
    }

}